.intro__subtitle {
  margin: 0;
  padding: 40px 0 15px;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
}

@media screen and (max-width: 785px) {
  .intro__subtitle {
    width: 100%;
  }
}