.places {
  margin: 0 auto;
  padding: 78px 1em 90px;
  max-width: 984px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 78px;
}

@media screen and (max-width: 1080px) {
  .places {
    gap: 70px;
  }
}

@media screen and (max-width: 785px) { 
  .places {
    padding-bottom: 63px;
    gap: 50px;
  }
}

@media screen and (max-width: 630px) { 
  .places {
    padding: 29px 0 43px;
    gap: 0px;
  }
}