.cover__subtitle {
  margin: 0;
  padding: 33px 0 13px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
}

@media screen and (max-width: 630px) {
  .cover__subtitle {
    padding: 16px 0 0;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    white-space: pre-line;
  }
}