.place__paragraph {
  max-width: 484px;
  min-height: 456px;
  grid-area: text;
}

@media screen and (max-width: 785px) {
  .place__paragraph {
    min-height: 370px;
  }
}

@media screen and (max-width: 630px) {
  .place__paragraph {
    max-width: 590px;
    padding: 0 1em;
  }
}